{% extends 'base.html.twig' %}

{% block body %}
    <h1>Agendas list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Datedebut</th>
                <th>Datefin</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for agenda in agendas %}
            <tr>
                <td><a href="{{ path('agenda_show', { 'id': agenda.id }) }}">{{ agenda.id }}</a></td>
                <td>{% if agenda.dateDebut %}{{ agenda.dateDebut|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if agenda.dateFin %}{{ agenda.dateFin|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('agenda_show', { 'id': agenda.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
